@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --button: #FF0000;
    --main-background:  #C4C4C4;
    --background: #E5E5E5;
    --text: #000;
    --footer: #000;
    --text-description: #9C9696;
  }
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}
body{
    background-color: #E5E5E5;;
}
main{
    position: absolute;
    width: 1340px;
    height: 610px;
    border: 2px solid #C4C4C4;
    z-index: 1;
}
.main-compar{   
    display: none;
    width: 1340px;
    height: 610px;
    background-color: aqua;
    z-index: 2;
}
nav{
    margin: auto;

    height: 48px;
    margin: 39px 60px 0px 60px;
}
.logo{  
    width: 52px;
    height: 36.4px;
    margin-right: 114px;
}
nav > ul{
    display: inline-block;
    position: absolute;
    top: 42px;
}
nav > ul > li{   
    display: inline-block;
    margin-right: 90px;   
}
nav > ul > li > p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;  
}
#search{ 
    width: 220px;
    height: 45px;

    display: inline-block;
    position: absolute;
    top: 42px;
    right: 260px;

    padding-left: 40px;
}
.search{
    display: inline-block;

    width: 34px;
    height: 34px;

    position: absolute;
    top: 55px;
    right: 440px;
}
.carrinho{
    display: inline-block;

    width: 34px;
    height: 34px;

    position: absolute;
    top: 47px;
    right: 160px;
}
/* --------------------------------------------------------- */
.itens{
    margin-top: 50px;
    width: 1230px;
    height: 480px;
    background-color: #f38181;
}
.produto{
    display: inline-block;
    width: 330px;
    height: 480px;
    background-color: aquamarine;
}
.produto > img{

}
/* --------------------------------------------------------- */
.sec-tenis{
    position: absolute;
    width: 865px;
    height: 590px;
    left: 470px;
    top: 2%;

    background: #C4C4C4;
}
.tenisAmpliado{
    width: 597px;
    height: 430px;
    right: 146px;
    position: absolute;   
    background-color: #F5F5F5;
}
.tenisAmpliado img{
    width: 597px;
    height: 330px;
    position: absolute;
    top: 10%;
}
.opTenis{
    display: inline-block;
    width: 765px;
    height: 140px;

    position: absolute;
    bottom: 0px;
    padding-left: 100px;
}
.tenis{
    display: inline-block;
    width: 170px;
    height: 140px;
    margin-left: 30px;
}
.tenis:hover{
    background-color: #ba8960;;
}
.tenis > img{
    width: 170px;
    height: 130px;
}
.preco{
    position: absolute;
    width: 357px;
    height: 420px;
    left: 65px;
    top: 50px;
}
.preco > h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700; 
    font-size: 50px;
    line-height: 60px; 
}
.preco > h2{
    margin-top: 25px;
}
.preco > p{
    margin-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;

    color: #9C9696;
}
.comprar{
    margin-top: 16px;
    width: 260px;
    height: 70px;
    background-color: #FF0000;
}
.comprar > p{
    padding-top: 10px;
    text-align: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}